<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: rgb(8, 113, 121);">
    <a class="navbar-brand" style="background-color: rgb(8, 113, 121);" href="#">
        <img src="assets/images/logo2.png" alt="logo">   
        Gestor Online</a>
      
    
    <div class="navbar-brand">
        Focus Tecnologia em Sistemas
           
        
        </div>    
</nav>

<br><br>

<!--TELA DE LOGIN-->

<div id="layoutAuthentication">

    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">

                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">
                                    
                                    
                                <img src="assets/images/logofocusnome.png" alt="logo" style="margin-left: -300px; margin-bottom: -30px;">   

                                <div style="margin-left:85px; margin-top: -50px;">
                                    
                                    Gestor Online - Versão: 17/09/2021 <br>
                                    Direitor Autorais: <br> Focus Tecnologia em Sistemas
                                </div>

                                <div style="margin-top: 25px; margin-left: -150px;">
                                    <b>Licenciado para: Clinica Ocupacional</b>
                                </div>


                                </h3>
                            </div>

                            <div class="card-body">
                                <div class="alert-danger" *ngIf="loginError">
                                    Login e/ou Senha incorreto(a).
                                </div>

                                <form #loginFrom="ngForm" (submit)="onSubmit();">
                                    <!--Login-->
                                    <div class="form-group">
                                        <label class="small mb-1">CNPJ:</label>
                                        <input type="text" name="username" [(ngModel)]="username" class="form-control"
                                            placeholder="Digite seu CNPJ">
                                    </div>
                                    <!--Senha-->
                                    <div class="form-group">
                                        <label class="small mb-1">Senha:</label>
                                        <input type="password" name="password" [(ngModel)]="password"
                                            class="form-control" placeholder="Digite sua senha">
                                    </div>
                                    <!--Botoes-->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Entrar</button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>