table {
    
    width: 80%;
    background-color: rgb(227, 235, 234);
    margin-left: 50px;
    border-collapse: separate;
       border-spacing: 0 8px;
  }
  td{
    border: 3px solid rgb(227, 235, 234);
  border-left-width: 0;
  min-width: 120px;
  height: 18px;
  }


  .td:hover{
    background: rgb(15, 140, 150);
    border: rgb(227, 235, 234);   
    cursor: default;
  }

  .mat-row:hover {
    background: rgb(227, 235, 260);     
    cursor: default;
  }

  .demo-inline-calendar-card {
    width: 250px;
    
  }


  #agenda{

    display: flex;
  }