
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  }

.example-sidenav{
  background-color: rgb(15, 140, 150);
  display: inline-block;
    width: 15%;
    margin: 0 auto;
  max-height: 100%;
  margin-top: 55px ;
  
}

.example-sidenav2{
  background-color: rgb(15, 140, 150);
  display: inline-block;
    width: 5%;
    margin: 0 auto;
  max-height: 100%;
  margin-top: 55px ;
  
}

.menu{
  color: white;
  margin-top: 5px;
  
}

.menu:hover{
  background-color: rgb(8, 113, 121);
  border-radius: 10px;
  display: flex;
  cursor: pointer; 
}



.nav-link{
  cursor: default;
}

.icon{
  margin-left: 20px;
  margin-top: 10px;
}
.name{
  margin-left: 20px;
  margin-top: 10px;
}

.icon2{
  margin-top: 20px; 
   
  
}
.icon2:hover{
  background-color: rgb(8, 113, 121);
  border-radius: 10px;  
  display: flex;
  cursor: pointer; 
  font-size: 25px;
  background: 30px;
  
}

.menu1{
  color: white;   
}

