<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: rgb(8, 113, 121);">
    <a class="navbar-brand" style="background-color: rgb(8, 113, 121);" href="#">
        <img src="assets/images/logo2.png" alt="logo">   
        Gestor Online</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" style="background-color: rgb(8, 113, 121);"
            id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>        
    </button>        
    
    <div class="navbar-brand ml-2" >Focus Tecnologia em Sistemas</div>

</nav>