<div class="container">
    <h1 class="mt-4" style="color: rgb(0, 100, 100);">Autorização</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrum-bitem active">Encaminhamento de Fichas</li>
    </ol>

    <div class="row">

        <!--------- COLABORADOR ----------->
        <div class="col-md-6">
            <div class="form-group">
                <label>Nome do Colaborador</label>
                <input type="text" class="form-control" name="nome">
            </div>
        </div>
        <!--------- DATA DE NASCIMENTO ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Data de Nascimento</label>
                <input type="date" class="form-control" name="nascimento">
            </div>
        </div>
        <!--------- GENERO ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Gênero</label>
                <input type="text" class="form-control" name="genero">
            </div>
        </div>
        <!--------- CPF ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>CPF</label>
                <input type="text" class="form-control" name="cpf">
            </div>
        </div>
        <!--------- RG ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>RG</label>
                <input type="text" class="form-control" name="rg">
            </div>
        </div>
        <!--------- TELEFONE ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" name="telefone">
            </div>
        </div>
        <!--------- CELULAR ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control" name="celular">
            </div>
        </div>
        <!--------- AREA ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Área</label>
                <input type="text" class="form-control" name="area">
            </div>
        </div>
        <!--------- FUNÇÃO ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Função</label>
                <input type="text" class="form-control" name="funcao">
            </div>
        </div>
        <!--------- TIPO DE ATENDIMENTO ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Tipo de Atendimento</label>
                <input type="text" class="form-control" name="atendimento">
            </div>
        </div>
        <!--------- DATA DE ENCAMINHAMENTO ----------->
        <div class="col-md-3">
            <div class="form-group">
                <label>Data de Encaminhamento</label>
                <input type="date" class="form-control" name="encaminhamento">
            </div>
        </div>

        <!--------- OBSERVAÇÕES DA SOLICITAÇÃO ----------->
        
           
            <div class="col-md-6">
                <mat-card style="margin-left: auto">
                
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="1">Realiza Consulta Clinica com ASO?</mat-radio-button>
                        <mat-radio-button value="2" style="margin-left: 15px;">Trabalho em Altura?</mat-radio-button>
                        <br>
                        <mat-radio-button value="3">Portador de Deficiencia Fisica?</mat-radio-button>
                        <mat-radio-button value="4" style="margin-left: 40px;">Espaço Confinado?</mat-radio-button>
                      </mat-radio-group>
                
                </mat-card>
            </div>

            <!---------  BUTTTONS  ----------->

            <div class="col-md-6">
                <button mat-button color="primary" style="margin-top: 25px;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">addchart</mat-icon>
                    Adicionar Serviço</button>
                
                    
            </div>

            <br>
            <br>

            <!--------- TABELA ----------->
        

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            
                <!-- Codigo Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Codigo </th>
                    <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                </ng-container>
    
                <!-- Descrição Column -->
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                </ng-container>
    
                <!-- Quantidade Column -->
                <ng-container matColumnDef="quantidade">
                    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
                </ng-container>

                <!-- Delet Column -->
                <ng-container matColumnDef="deletar">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element"> 
                        
                        <button mat-button color="warn">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                                Remover</button>

                    </td>
                </ng-container>
    
               
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
       

                 <!-- BUTÃO ENVIAR E CANCELAR -->
            <div class="col-md-6">
                <button mat-button style="margin-top: 25px; background-color: rgb(55, 177, 55); color:white;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_upward</mat-icon>
                    Enviar</button>
                
                    <button routerLink="/autorizacao-form" mat-button style="background-color: rgb(233, 16, 16); color:white; margin-left: 15px;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
                        Cancelar</button>
            </div>

    </div>