<h1 class="mt-4" style="color: rgb(0, 100, 100);">Home</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo ao Gestor OnLine</li>
</ol>
<br><br>

<div class="row">
    <img src="assets/images/logogestor.png" alt="Gestor Online" style="margin-left: 50px; margin-top: -70px;">

    <h3 style="margin-top:00px; text-transform: uppercase; 
                margin-left: 20px; font-family: Helvetica, Sans-Serif; color: rgb(16, 107, 107);"> &#160; &#160;


        O gestor online é uma aplicação de gestão clinica integrado ao sistema ClinicAll <br>
        na versão ocupacional, foi desenvolvida pela focus tecnologia em sistemas e tem <br>
        como objetivo facilitar a comunicação entre clínica e empresa, fornecendo os asos <br>
        dos colaboradores, encaminhamento de fichas, listagem das áres, funções e riscos <br>
        da empresa, relatório de faturamento por período e cadastro rápido do colaborador.<br>

        <h4 style="text-align:center; font-family: Helvetica, Sans-Serif; color: rgb(16, 107, 107); margin-top:40px;">
            <b>Esse produto está licenciado para: <span>{{nomeFantasia}}</span></b>
        </h4>
    </h3>
</div>
<br><br>

